.appWrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "head head"
    "navBar profile";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    background-color: cornflowerblue;
    grid-area: head;
}

.header img {
    width: 40px;
    margin: 10px;
}

.navBar {
    grid-area: navBar;
    background-color: aquamarine;
}

.navBar div {
    text-align: center
}

.profile {
    grid-area: profile;
    background-color: grey;
}

.profile img {
    padding-left: 200px;
    width: 60%;
}