.dialog{
    margin: 5px auto;
    display: flex;
    background-color: #e9ebee;
    padding: 2px;
    border: 1px solid gray;
}
.dialog a{
    padding-top: 12px;
    text-decoration: none;
    color: black;
}
.dialog img{
    width: 40px;
    border-radius: 20px;
}
.dialog .active {
    color:lightslategray    ;
}