.appWrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "head head"
    "content content";
    grid-template-rows: 60px 1fr;
    grid-gap: 5px;
    background-color: #e9ebee;
}
.appWrapperContent {
    margin: 0 auto;
    margin-left: 10px;
    grid-area: content;
    display: flex;
    min-width: 1280px;
}
